@use 'variables' as *;

body, html {
	margin: 0;
	padding: 0;
	font-family: $lato;
	background: $tan;
	color: $brown;
	line-height: 1.4;
}

h2 {
	font-family: $merriweather;
	font-size: 2rem;
	margin: 0 0 0.5rem;
}

h3 {
	font-family: $lato;
	font-size: 1.25rem;
	margin: 0 0 0.5rem;
}

p {
	margin: 0 0 1rem;
}

main {
	max-width: 35rem;
	margin: 2rem auto 5rem;
}