@use 'variables' as *;

body, html {
	margin: 0;
	padding: 0;
	font-family: $lato;
	background: $tan;
	color: $brown;
	line-height: 1.4;
	text-size-adjust: 50%;
}

h1, h2 {
	font-family: $merriweather;
	font-size: 2.5rem;
	margin: 0 0 0.5rem;
}

h2 {
	font-size: 2rem;
	a {
		text-decoration: none;
	}
}

h3, h4 {
	font-family: $lato;
	font-size: 1.25rem;
	margin: 0 0 0.5rem;
	text-transform: uppercase;
}

h4 {
	text-transform: none;
}

time {
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	text-transform: uppercase;
	color: $red;
	margin: 0 0 1rem;
	h2 + & {
		margin-top: -0.875rem
	}
}

p {
	margin: 0 0 1rem;
}

a {
	color: $blue;
}

// linear-gradient(0deg, rgb(70, 51, 15) 0%, rgb(223, 207, 180) 33%)
