@use 'variables' as *;

.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

article.card {
    background: $tan_lt;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem $brown_lt;
}

section.scorecard-list {
    @include media-min($lg) {
        margin: 0 -14rem;
    }
}

div.scorecard-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'sc-header sc-header sc-header sc-pic'
        'sc-stance sc-notes sc-notes sc-notes';
    gap: 1rem;
    margin: 0 0 1rem;
    padding: 1rem 1rem 0;
    border-radius: 0.3rem;
    @include media-min($md) {
        grid-template-columns: 3fr 1fr 2fr 6fr;
    }
    h3 {
        grid-area: sc-header;
        text-transform: none;
    }
    img {
        grid-area: sc-pic;
        max-width: 100%;
        height: auto;
    }
    p.stance {
        grid-area: sc-stance;
        margin: 0;
        border-radius: 0.3rem;
        padding: 1rem;
        color: white;
        background: $brown_lt;
        &.supports {
            background: $slate_lt;
        }
        &.opposes {
            background: $red_lt;
        }
    }
    div.notes {
        grid-area: sc-notes;
    }
    h3, img, p.stance, div.notes {
        @include media-min($md) {
            grid-area: auto;
        }
    }
    &:nth-child(even) {
        background: $tan_med;
    }
}
