@use 'variables' as *;

.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

article.card {
    background: $lt_tan;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem $lt_brown;
}

section.scorecard-list {
    @include media-min($lg) {
        margin: 0 -14rem;
    }
}

div.scorecard-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'sc-header sc-header sc-header sc-pic'
        'sc-status sc-notes sc-notes sc-notes';
    gap: 1rem;
    margin: 0 0 1rem;
    padding: 1rem 1rem 0;
    border-radius: 0.3rem;
    @include media-min($md) {
        grid-template-columns: 3fr 1fr 1fr 6fr;
    }
    h3 {
        grid-area: sc-header;
        text-transform: none;
    }
    img {
        grid-area: sc-pic;
        max-width: 100%;
        height: auto;
    }
    p.status {
        grid-area: sc-status;
    }
    div.notes {
        grid-area: sc-notes;
    }
    h3, img, p.status, div.notes {
        @include media-min($md) {
            grid-area: auto;
        }
    }
    &:nth-child(even) {
        background: $med_tan;
    }
}
