@use 'variables' as *;

header.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h1.branding,
    h2.branding {
        margin: 1rem;
        width: 70%;
        fill: white;
        @media only screen and (min-width: 768px) {
            width: 20rem;
            height: 4.56rem; /* .228 */
            margin: 1rem auto;
        }
    }
}

.admin-bar {
    header.site-header {
        .home-intro {
            height: calc(100vh - 13.7rem)
        }
    }
}