@use 'variables' as *;

header.site-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    h1.branding,
    h2.branding {
        margin: 1rem 1rem 0;
        width: 70%;
        fill: white;
        @media only screen and (min-width: 768px) {
            width: 20rem;
            height: 4.56rem; /* .228 */
            margin: 1rem;
        }
    }
    ul.social-links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @media only screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        a {
            height: 2rem;
            width: 2rem;
            padding: 0.25rem 0 0.25rem 1rem;
            display: block;
            svg path {
                fill: $brown;
            }
        }
        a.bluesky {

        }
        a.instagram {

        }
    }
}

.admin-bar {
    header.site-header {
        .home-intro {
            height: calc(100vh - 13.7rem)
        }
    }
}