$brown: #46330F;
$brown_lt: #C0B093;
$tan: #DFCFB4;
$tan_med: #E5D9C3;
$tan_lt: #ECE2D2;
$red: #6C1412;
$red_lt: #9A5F53;
$slate: #3A7E9C;
$slate_lt: #7C9EA6;
$blue: #315565;

$lato: 'Lato', sans-serif;
$merriweather: 'Merriweather', serif;

$sm: 40rem;
$md: 48rem;
$lg: 64rem;

@mixin media-min($breakpoint) {
    @media only screen and (min-width: $breakpoint) {
        @content;
    }
}
